.my-search {
	margin-left: 5em;
}
.my-search-inp {
	margin-right: 3em !important;
}
thead th {
	text-align: center;
}
tbody td {
	height: 30px!important;
	line-height: 30px!important;
}
.my-btn-edit,
.my-btn-delete {
	background-color: transparent !important;
}
.my-btn-edit {
	color: #269abc !important;
}
.my-btn-delete {
	color: #ac2925 !important;
}
.my-table-body {
	padding-bottom: 0 !important;
}