.my-header {
	margin-right: 10px;
}
.my-margin-control {
	margin: 0 140px;
}
@media screen and (max-width: 991px) {
	.my-margin-control {
		margin: 0 60px;
	}
}
@media screen and (max-width: 749px) {
	.my-margin-control {
		margin: 0 10px;
	}
}
.my-search {
	margin-left: 5em;
}
.my-search-inp {
	margin-right: 3em !important;
}
thead th {
	text-align: center;
}
tbody td {
	height: 30px!important;
	line-height: 30px!important;
}
.my-btn-edit,
.my-btn-delete {
	background-color: transparent !important;
}
.my-btn-edit {
	color: #269abc !important;
}
.my-btn-delete {
	color: #ac2925 !important;
}
.my-table-body {
	padding-bottom: 0 !important;
}
.my-nav {
	margin: 0 !important;
}
.my-nav-bottom-body {
	padding: 0 !important;
	height: 40px
}
.my-nav-bottom-block div{
	position: relative;
	float: left;
	border: 1px solid #ddd;
	border-bottom: none;
	width: 70px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	font-weight: 700;
}
.my-nav-bottom-block div:hover {
	background-color: #ddd;
}
.my-nav-bottom-block-active::after {
	content: "";
	position: absolute;
	bottom: -13%;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	width: 12px;
	height: 12px;
	border: 1px solid #dddddd;
	background-color: #dddddd;
}
.my-nav-bottom-block-active {
	background-color: #dddddd;
}